In [1]:
import pandas as pd

In [2]:
data = pd.read_table('./ReactomePathways.txt', sep='\t', header=None)
data = pd.DataFrame(data)

In [4]:
data_homo = data[data[2] == 'Homo sapiens']

In [5]:
len(data_homo)

2362

In [6]:
for index, row in data.iterrows():
    if 'cardiovascular' in row[1].lower():
        print(row)

In [7]:
for index, row in data.iterrows():
    if 'heart' in row[1].lower():
        print(row)

In [8]:
data_homo.to_csv('Homo_Pathway.txt')

In [3]:
data_cvd = pd.read_csv('cvd.csv')

In [4]:
data_cvd.head()

                    id                          name
0                  C14       Cardiovascular Diseases
1              C14.240  Cardiovascular Abnormalities
2          C14.240.400     Heart Defects, Congenital
3      C14.240.400.021       22q11 Deletion Syndrome
4  C14.240.400.021.500             DiGeorge Syndrome

In [5]:
term = []
for i in data_cvd.name:
    temp = i.lower().split()
    for j in temp:
        if j not in term:
            term.append(j)

In [8]:
term = []
for i in data_cvd.name:
    term.append(i.lower())

In [10]:
for i in term:
    for index, row in data_cvd.iterrows():
        if i in row:
            print(row)